/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/animations.css */
@keyframes expandIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 350px;
    opacity: 1;
  }
}

@keyframes shrinkOut {
  from {
    width: 350px;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}

.expand-in {
  animation: expandIn 1s ease-out forwards;
}

.shrink-out {
  animation: shrinkOut 1s ease-out forwards;
}
